<h1>Stupid Coaching</h1>
<h2 class='test-secondary'> You </h2>
<p class='test-secondary'> <%= @question %> </p>
<h2 class='test-secondary'> Coach </h2>
<p class='test-secondary'> <%= @answer %>
<pre><link href="question.scss" rel="stylesheet" media="all" type="text/css"></pre>
