<body>

<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<label class="form__label">
<form action="answer">
  <input type="text" class='form-control' name="question">
  <input type="submit" class='btn' value="Ask!">
</form>
</label>
</body>
