<body>

<h1>Stupid COach</h1>

<form action="answer">
  <input type="text" class='form-control' name="question">
  <input type="submit" class='btn' value="Ask!">
  <label class="form__label">
</form>
</label>
</body>
